.Group {
    padding: 32px;
    height: auto;
}

.Members {
    vertical-align: middle;
    padding: 5px 0px;
    /* width: 90vw; */
}
/* 
.name {
    margin: 5px;
    width: 100%;
}

.amt {
    padding: 10px 10px;
    width: 100%
} */