.Group {
    padding: 32px;
    min-height: calc(100vh - 56px);
}

/* .Members {
    vertical-align: middle;
    padding: 5px 0px;
    width: 90vw;
} */
/* 
.name {
    margin: 5px;
    width: 100%;
}

.amt {
    padding: 10px 10px;
    width: 100%
} */