.Home .jumbotron {
    background: url(../background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    height: calc(100vh - 56px);
    margin: 0px;
    padding: 15vh;
    color: black;
}
